# XGBoost

#### Import libraries

In [11]:
import xgboost
import pandas as pd

In [12]:
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score

#### Import data

In [13]:
# load data
df = pd.read_csv('../experiments/total.csv')

In [14]:
df.head()

,wmc,dit,noc,cbo,rfc,lcom,ca,ce,npm,lcom3,...,dam,moa,mfa,cam,ic,cbm,amc,max_cc,avg_cc,bug
0,14,2,0,9,33,53,1,9,11,0.876923,...,0.400000,1,0.796610,0.442308,1,3,12.071429,3,1.6429,1
1,11,2,0,6,27,19,0,6,11,0.911111,...,0.555556,0,0.444444,0.303030,0,0,16.272727,7,2.0000,1
2,8,1,0,7,42,14,0,7,2,0.750000,...,0.000000,2,0.000000,0.238095,0,0,37.000000,4,1.5000,0
3,6,3,0,2,15,0,1,1,5,0.000000,...,1.000000,0,0.919355,0.375000,0,0,9.833333,2,1.0000,0
4,13,1,0,4,40,8,0,4,2,0.697917,...,0.000000,4,0.000000,0.150000,0,0,38.076923,7,2.7692,1

In [15]:
# delete unnamed column
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
# convert all columns of DataFrame
df = df.dropna()
# find the objects columns
cols = df.columns[df.dtypes.eq('object')]
# convert to numeric these columns
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [16]:
df.shape

(80044, 21)

In [17]:
# split data into X and y
array = df.values
X = array[:,0:20]
Y = array[:,20]

In [18]:
# CV model
model = xgboost.XGBClassifier(max_depth=10, n_estimators=200)
kfold = StratifiedKFold(n_splits=10, random_state=7)
results = cross_val_score(model, X, Y, cv=kfold, scoring='roc_auc')
print("Accuracy: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Accuracy: 67.58% (9.43%)

##### That's all folks!!!