# XGBoost

#### Import libraries

In [1]:
import xgboost
import pandas as pd

In [2]:
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score

#### Import data

In [3]:
# load data
df = pd.read_csv('../experiments/jedit.csv')

In [4]:
df.head()

,name,wmc,dit,noc,cbo,rfc,lcom,ca,ce,npm,...,dam,moa,mfa,cam,ic,cbm,amc,max_cc,avg_cc,bug
0,jEdit,14,1,0,9,45,61,3,6,11,...,1.0,1,0.000000,0.294872,0,0,29.142857,8,2.4286,0
1,jEdit,7,2,0,4,21,0,1,3,0,...,1.0,1,0.538462,0.333333,1,3,41.285714,16,4.7143,0
2,jEdit,6,1,0,3,11,9,1,3,5,...,1.0,3,0.000000,0.333333,0,0,16.333333,5,1.5000,0
3,jEdit,6,2,0,16,14,3,8,8,5,...,1.0,0,0.782609,0.444444,0,0,13.833333,1,0.8333,0
4,jEdit,5,2,0,5,22,0,1,4,0,...,1.0,0,0.700000,0.350000,1,3,39.800000,11,4.0000,0

In [5]:
# delete unnamed column
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
# convert all columns of DataFrame
df = df.dropna()
# find the objects columns
cols = df.columns[df.dtypes.eq('object')]
# convert to numeric these columns
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [6]:
df.shape

(1749, 22)

In [7]:
# split data into X and y
array = df.values
X = array[:,0:21]
Y = array[:,21]

In [8]:
# CV model
model = xgboost.XGBClassifier(max_depth=10, n_estimators=200)
kfold = StratifiedKFold(n_splits=10, random_state=7)
results = cross_val_score(model, X, Y, cv=kfold, scoring='f1')
print("Accuracy: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Accuracy: 47.76% (6.72%)

##### That's all folks!!!