# K Means

In [49]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()  # for plot styling
import numpy as np
import pandas as pd
import re
sns.set_style("white")

In [50]:
df = pd.read_csv('../experiments/models.csv')
df = df.replace(r'\n',' ', regex=True) 
df['feature'] = df['feature'].map(lambda x: x.lstrip('[]').rstrip('aAbBcC'))

In [51]:
# Replace '|' in cells with series.str methods
for col in df:
    if df[col].dtype == 'object':
        df[col] = df[col].str.replace(']', '')

In [52]:
df.head()

   feature       acc
0   'dit'   0.562432
1   'noc'   0.516849
2   'cbo'   0.610601
3   'rfc'   0.643621
4  'lcom'   0.611206

In [53]:
x = pd.read_csv('../experiments/accvar.csv')

In [54]:
x.head()

  feature       acc       mad
0     dit  0.802789  0.022259
1     noc  0.789720  0.024277
2     cbo  0.816549  0.019054
3     rfc  0.819420  0.011875
4    lcom  0.812041  0.020785

In [55]:
features=df['feature'].tolist()
feat=x['feature'].tolist()
accs=x['acc'].tolist()
var=x['mad'].tolist()

In [56]:
f2 = []

for x in features:
    y = x.replace("'", "")
    f2.append(y)

In [57]:
def define_var(features, feat, accs):

    sum = 0
    count = 0
    results = []

    for i in features:
        i = i.replace(" ", "")
        each_feature = i.split(",")
        sum = 0
        count = 0
        for j in each_feature:
            j = j.replace(" ", "")
            new_j = re.sub('[^a-zA-Z0-9 \n\.]', '', j)
            for f, acc in zip(feat, accs):
                new_f = re.sub('[^a-zA-Z0-9 \n\.]', '', f)
                new_f = new_f.replace(" ", "")
                if new_f == new_j:
                    sum = sum + acc
                    count = count + 1

        results.append(sum/count)
            
    return results

In [58]:
rr = define_var(f2, feat, var)
#rr2 = define_var(f2, feat, accs)

In [59]:
df.shape

(5204, 2)

In [60]:
df['var'] = rr

In [61]:
df.head(20)

          feature       acc       var
0          'dit'   0.562432  0.022259
1          'noc'   0.516849  0.024277
2          'cbo'   0.610601  0.019054
3          'rfc'   0.643621  0.011875
4         'lcom'   0.611206  0.020785
5           'ca'   0.558651  0.022309
6           'ce'   0.603316  0.016290
7          'npm'   0.612806  0.021039
8        'lcom3'   0.611960  0.020699
9          'loc'   0.666310  0.013485
10         'dam'   0.569671  0.023298
11         'moa'   0.552392  0.024278
12         'mfa'   0.625070  0.019202
13         'cam'   0.644383  0.018779
14          'ic'   0.540361  0.023720
15         'cbm'   0.548826  0.023182
16         'amc'   0.656767  0.011175
17      'max_cc'   0.611521  0.019662
18      'avg_cc'   0.628846  0.019574
19  'loc', 'dit'   0.696939  0.017872

In [62]:
results = df.acc.values
df = df.drop('acc', axis=1)
df['acc'] = results

In [63]:
df.to_csv('../experiments/data-processed.csv', index = False, header=True)

In [48]:
df.head()

   feature       var                                                acc
0   'dit'   0.022259  [0.559987324980708, 0.5637415932560017, 0.5590...
1   'noc'   0.024277  [0.517104537532966, 0.5157712899953203, 0.5199...
2   'cbo'   0.019054  [0.6048307183698194, 0.6116156621531877, 0.610...
3   'rfc'   0.011875  [0.6413733037753351, 0.6456404208874115, 0.647...
4  'lcom'   0.020785  [0.6159020622371304, 0.6031793770029774, 0.621...

###### That's all folks!!!